PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/backend
JWT_SECRET=mySuperSecretKey123
JWT_EXPIRE=7d
FRONTEND_URL=http://localhost:5173

# Brevo
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
